<div class="card h-100 shadow">
  {% if achievement.redirect %}
    <a href="{{ achievement.redirect }}">
  {% else %}  
    <a href="{{ achievement.url | relative_url }}">
  {% endif %}
    <img class="card-img-top" src="{% if achievement.image %}{{ achievement.image | relative_url }}{% else %}/assets/img/placeholder.jpg{% endif %}">
    <div class="card-body">
      <h5 class="card-title">{{ achievement.title }}</h5>
      <p class="card-text">{{ achievement.description }}</p>
      <p class="card-text"><small class="text-muted">{{ achievement.date | date: "%B %d, %Y" }}</small></p>
    </div>
  </a>
</div>
